body{

    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: cyan;

}

*,
*::before,
*::after{ box-sizing: border-box;}
h1,h2,h3,h4,h5{margin: 0 ;}
.intro{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
.video{
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video:hover{
    transition: .3s background-image linear;
}

/*Avtoriz*/

.avtoriz
{
    max-width: 100%;
    position: absolute;
    z-index: 2;
    top:70px ;
    left: 40%;
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: tomato;
    border-radius: 30px;
    opacity: .9;
}

.avtoriz-title
{
    margin: 0 0 15px;
    font-size: 20px;
    text-align: center;
    color: blue;
}

/*input*/

.form-group
{
    margin-bottom: 15px;
}

.input
{
    display: block;
    padding: 8px 10px;
    width: 238px;

    background-color:  white;
    border: 1px #ccc;


    font-family: inherit;
    font-size: 15px;

}

.input:focus
{
    outline: 0;

    border-color: magenta;
}

/*Select*/


.select
{
    display: block;
    padding: 8px 10px;
    width: 260px;
    height: 35px;

    border: 1px gray;
    font-family: inherit;
    font-size: 15px;


}

/*.select:focus*/
/*{*/
/*    outline: 0;*/

/*    border-color: magenta;*/
/*}*/

.select:hover{
    background-color: orange;
    cursor: pointer;
}

.btn
{
    display: block;
    width: 260px;
    padding: 10px;

    border: 0;
    background-color: rgb(255, 255, 255);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

.btn:focus
{
    outline: 0;
}
.btn:hover
{
    background-color: orange;
    cursor: pointer;
}
.refli{
     position: absolute;
     top: 20px;
     width: 100%;
     margin: 0;
     z-index: 2;
     text-align: center;
 }

@media(max-width:650px)
{

    .avtoriz
    {
        flex-basis: 100%;
        flex-wrap: wrap;
        top:-40px ;
        left: 10%;

    }

}